# Getting the Data

In [1458]:
import pandas as pd
from pathlib import Path

file_name = "bank-additional-full.csv"
bank = pd.read_csv(Path(file_name), sep=";")

# Required Information

Bank client data:
- Age (numeric)
- Job : type of job (categorical: 'admin.', 'blue-collar', 'entrepreneur', 'housemaid', 'management', 'retired', 'self-employed', 'services', 'student', 'technician', 'unemployed', 'unknown')
- Marital : marital status (categorical: 'divorced', 'married', 'single', 'unknown' ; note: 'divorced' means divorced or widowed)
- Education (categorical: 'basic.4y', 'basic.6y', 'basic.9y', 'high.school', 'illiterate', 'professional.course', 'university.degree', 'unknown')
- Default: has credit in default? (categorical: 'no', 'yes', 'unknown')
- Housing: has housing loan? (categorical: 'no', 'yes', 'unknown')
- Loan: has personal loan? (categorical: 'no', 'yes', 'unknown')

Related with the last contact of the current campaign:
- Contact: contact communication type (categorical: 'cellular','telephone')
- Month: last contact month of year (categorical: 'jan', 'feb', 'mar',…, 'nov', 'dec')
- Day_of_week: last contact day of the week (categorical:'mon','tue','wed','thu','fri')
- Duration: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.

Other attributes:
- Campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
- Pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
- Previous: number of contacts performed before this campaign and for this client (numeric)
- Poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')

Social and economic context attributes
- Emp.var.rate: employment variation rate - quarterly indicator (numeric)
- Cons.price.idx: consumer price index - monthly indicator (numeric)
- Cons.conf.idx: consumer confidence index - monthly indicator (numeric)
- Euribor3m: euribor 3 month rate - daily indicator (numeric)
- Nr.employed: number of employees - quarterly indicator (numeric)

Output variable (desired target): 
- y - has the client subscribed a term deposit? (binary: 'yes', 'no')

Analysis Steps:
- Atribute information Analysis.
- Machine Learning (Logistic Regression, KNN, SVM, Decision Tree, Random Forest, Naive Bayes)
- Deep Learning (ANN)

In [1459]:
bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [1460]:
bank.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [1461]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [1462]:
bank["y"].value_counts() # More no's than yes'

y
no     36548
yes     4640
Name: count, dtype: int64

# Splitting Data and Preprocessing Pipeline

In [1463]:
from sklearn.model_selection import train_test_split

X = bank.drop(['y', 'duration'], axis=1)
y = bank["y"].copy()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True, random_state=42)

In [1464]:
X_train.describe()

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,32950.000000,32950.000000,32950.000000,32950.000000,32950.000000,32950.000000,32950.000000,32950.000000,32950.000000
mean,40.017420,2.572959,962.745341,0.172989,0.083105,93.576835,-40.514574,3.622698,5167.094049
std,10.435842,2.778138,186.248245,0.492992,1.570011,0.579157,4.622683,1.733735,72.354625
min,17.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [1465]:
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.compose import ColumnTransformer, make_column_selector, make_column_transformer
from sklearn.cluster import KMeans
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, FunctionTransformer, OrdinalEncoder
from sklearn.base import BaseEstimator, TransformerMixin
import numpy as np

In [1466]:
def num_cat(X):
    if X.ndim == 1:
        X = pd.cut(
            X,
            bins=[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, np.inf],
            labels=False,
            include_lowest=True
        ).values.reshape(-1, 1) 
    return X

def num_cat_name(function_transformer, feature_names_in):
    return ["cat"]

def num_cat_pipeline():
    return Pipeline([
        ('functiontransformer', FunctionTransformer(num_cat, feature_names_out=num_cat_name, validate=True)),
        ('ordinal', OrdinalEncoder()),
        ('simple', SimpleImputer(strategy="most_frequent")),
        ('onehot', OneHotEncoder(handle_unknown="ignore")),
    ])

In [1467]:
cat_pipeline = Pipeline([
    ('ordinal', OrdinalEncoder()),
    ('simple', SimpleImputer(strategy="most_frequent")),
    ('onehot', OneHotEncoder(handle_unknown="ignore")),
])

num_pipeline = Pipeline([
    ('simple', SimpleImputer(strategy="median")),
    ('standard', StandardScaler()),
])

cat_columns = list(X.select_dtypes(include="object").columns)
num_columns = list(X.select_dtypes(include=["int64", "float64"]).columns)
num_columns_excluding_age = [col for col in num_columns if col != "age"]
num_cat_columns = ["age"]

In [1468]:

preprocessing = ColumnTransformer([
        ('cat', cat_pipeline, cat_columns),
        ('num', num_pipeline, num_columns_excluding_age),
        ('age', num_cat_pipeline(), num_cat_columns),
    ],
    remainder="passthrough"
)

In [1469]:
X_prepared = preprocessing.fit_transform(X_train)

In [1470]:
X_prepared.shape

(32950, 138)

In [1471]:
preprocessing.get_feature_names_out()

array(['cat__job_0.0', 'cat__job_1.0', 'cat__job_2.0', 'cat__job_3.0',
       'cat__job_4.0', 'cat__job_5.0', 'cat__job_6.0', 'cat__job_7.0',
       'cat__job_8.0', 'cat__job_9.0', 'cat__job_10.0', 'cat__job_11.0',
       'cat__marital_0.0', 'cat__marital_1.0', 'cat__marital_2.0',
       'cat__marital_3.0', 'cat__education_0.0', 'cat__education_1.0',
       'cat__education_2.0', 'cat__education_3.0', 'cat__education_4.0',
       'cat__education_5.0', 'cat__education_6.0', 'cat__education_7.0',
       'cat__default_0.0', 'cat__default_1.0', 'cat__default_2.0',
       'cat__housing_0.0', 'cat__housing_1.0', 'cat__housing_2.0',
       'cat__loan_0.0', 'cat__loan_1.0', 'cat__loan_2.0',
       'cat__contact_0.0', 'cat__contact_1.0', 'cat__month_0.0',
       'cat__month_1.0', 'cat__month_2.0', 'cat__month_3.0',
       'cat__month_4.0', 'cat__month_5.0', 'cat__month_6.0',
       'cat__month_7.0', 'cat__month_8.0', 'cat__month_9.0',
       'cat__day_of_week_0.0', 'cat__day_of_week_1.0',
       'cat__day_of_week_2.0', 'cat__day_of_week_3.0',
       'cat__day_of_week_4.0', 'cat__poutcome_0.0', 'cat__poutcome_1.0',
       'cat__poutcome_2.0', 'num__campaign', 'num__pdays',
       'num__previous', 'num__emp.var.rate', 'num__cons.price.idx',
       'num__cons.conf.idx', 'num__euribor3m', 'num__nr.employed',
       'age__cat_0.0', 'age__cat_1.0', 'age__cat_2.0', 'age__cat_3.0',
       'age__cat_4.0', 'age__cat_5.0', 'age__cat_6.0', 'age__cat_7.0',
       'age__cat_8.0', 'age__cat_9.0', 'age__cat_10.0', 'age__cat_11.0',
       'age__cat_12.0', 'age__cat_13.0', 'age__cat_14.0', 'age__cat_15.0',
       'age__cat_16.0', 'age__cat_17.0', 'age__cat_18.0', 'age__cat_19.0',
       'age__cat_20.0', 'age__cat_21.0', 'age__cat_22.0', 'age__cat_23.0',
       'age__cat_24.0', 'age__cat_25.0', 'age__cat_26.0', 'age__cat_27.0',
       'age__cat_28.0', 'age__cat_29.0', 'age__cat_30.0', 'age__cat_31.0',
       'age__cat_32.0', 'age__cat_33.0', 'age__cat_34.0', 'age__cat_35.0',
       'age__cat_36.0', 'age__cat_37.0', 'age__cat_38.0', 'age__cat_39.0',
       'age__cat_40.0', 'age__cat_41.0', 'age__cat_42.0', 'age__cat_43.0',
       'age__cat_44.0', 'age__cat_45.0', 'age__cat_46.0', 'age__cat_47.0',
       'age__cat_48.0', 'age__cat_49.0', 'age__cat_50.0', 'age__cat_51.0',
       'age__cat_52.0', 'age__cat_53.0', 'age__cat_54.0', 'age__cat_55.0',
       'age__cat_56.0', 'age__cat_57.0', 'age__cat_58.0', 'age__cat_59.0',
       'age__cat_60.0', 'age__cat_61.0', 'age__cat_62.0', 'age__cat_63.0',
       'age__cat_64.0', 'age__cat_65.0', 'age__cat_66.0', 'age__cat_67.0',
       'age__cat_68.0', 'age__cat_69.0', 'age__cat_70.0', 'age__cat_71.0',
       'age__cat_72.0', 'age__cat_73.0', 'age__cat_74.0', 'age__cat_75.0',
       'age__cat_76.0'], dtype=object)